/* Reseteo de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo general */
body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    background: linear-gradient(135deg, #f4f4f4, #e8e8f8);
    color: #333;
}

/* Encabezado */
header {
    background: linear-gradient(135deg, #667eea, #764ba2);
    color: #fff;
    padding: 3rem;
    text-align: center;
}

header h1 {
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

header p {
    font-size: 1.2rem;
    font-weight: 300;
}

/* Sección General */
section {
    padding: 2.5rem;
    max-width: 800px;
    margin: 1.5rem auto;
}

/* Sobre Mí */
#sobre-mi {
    background: #fff;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

#sobre-mi:hover {
    transform: scale(1.03);
}

/* Proyectos */
#proyectos h2 {
    text-align: center;
    font-weight: 600;
    margin-bottom: 2rem;
}

.proyecto {
    background: #fff;
    padding: 2rem;
    margin-bottom: 1.5rem;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

#contacto {
    transform: none;
}

.proyecto:hover {
    transform: scale(1.03);
}

/* Contacto */


/* Pie de página */
footer {
    text-align: center;
    padding: 1.5rem;
    background-color: #333;
    color: #fff;
    font-size: 0.9rem;
}
/* Sobre Mí */
#sobre-mi {
    background: #fff;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    display: flex;
    align-items: center;
}

#sobre-mi:hover {
    transform: scale(1.03);
}

.sobre-mi-contenido {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.foto-perfil {
    width: 175px;
    height: auto;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#img-slipknot {
    display: block;
    margin: 20px auto 20px auto;
}

#img-halo {
    height: 200px; /* Tamaño cuadrado */
    float: right; /* Hace que la imagen flote a la izquierda del texto */
    margin-right: 15px; /* Espacio entre la imagen y el texto */
    margin-bottom: 10px; /* Espacio entre la imagen y el texto debajo */
}

nav {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}



nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

#contenedor-resumen {
    margin-left: 375px;
}

nav a:hover {
    color: #f4b400;
}
